<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MEKKI!!</title>
    <!-- <img src="{ static 'single_pages/images/automaiton_python.png}" alt=""> -->
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/st.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
</head>
<body class="pt-5">
    {% include 'blog/navbar.html' %}

    <section>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 text-light">
                    <h1 class="mt-5">Meckk ki</h1>
                    <!-- <img src="{ static 'single_pages/images/automaiton_python.png }" alt=""> -->
                    <p>파이썬의 대표적인 프래임워크 장고입니다.</p>
                </div>
                <div class="col-lg-5 mt-5">
                    <h2 class="text-light">Blog - Recent Posts</h2>

                
                {% for post in recent_posts %}
                <div class="card mt-1">
                    <div class="card-body">
                        <h6><a href="{{post.get_absolute_url}}" class="text-decoration-none text-light">{{ post.title }}</a></h6>
                        <span class="badge rounded-pill bg-light text-dark float-end">
                            {{post.author.username}}
                            &nbsp;
                            &nbsp;
                            {{post.create_at}}
                        </span>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>
        
    <div class="fixed-bottom">
        {% include 'blog/footer.html' %}
    </div>
    
</body>
</html>